<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tugas.akhirtugas">
    <uses-permission android:name="android.permission.INTERNET" /> <!-- if you want to load images from a file OR from the internet -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- if you want to load images from a file OR from the internet -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_bpbd1"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_bpbd1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".DataLongsor.FormDataLongsor"
            android:theme="@style/ShowActionBar" />
        <activity
            android:name=".Berita.FormBerita"
            android:theme="@style/ShowActionBar" />
        <activity
            android:name=".Cuaca.Cuaca"
            android:theme="@style/ShowActionBar" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".DataLongsor.MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".DataLongsor.detail.DetailLongsor"
            android:label="@string/title_activity_detail_longsor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Berita.detail.DetailBerita"
            android:label="@string/title_activity_detail_berita"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Berita.BeritaActivity"
            android:theme="@style/ShowActionBar" />
        <activity
            android:name=".kontak.KontakChat"
            android:theme="@style/NoTitlle" />
        <activity
            android:name=".menu.Panduan"
            android:theme="@style/NoTitlle" />
        <activity android:name=".menu.Login" />
        <activity android:name=".Galeri.ViewGaleri" />
        <activity
            android:name=".Galeri.GaleriActivity"
            android:theme="@style/ShowActionBar" />
        <activity
            android:name=".menu.TentangAplikasi"
            android:theme="@style/NoTitlle" />
        <activity
            android:name=".DataLongsor.DataLongsor"
            android:theme="@style/ShowActionBar" />
        <activity
            android:name=".menu.SplashScreen"
            android:noHistory="true"
            android:screenOrientation="fullSensor"
            android:theme="@style/Splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".menu.MainActivity"
            android:theme="@style/NoTitlle" />
        <activity
            android:name=".BPBD.BpbdActivity"
            android:theme="@style/NoTitlle" />
    </application>

</manifest>